<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/image-49.png.webp"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Saifullah</h3>
      </div>

      <div class="text-center">@Learner</div>
      <div class="text-center">
        <a href="https://github.com/mustafavi">www.github.com/saifullah</a>
      </div>
    </div>
  </div>
</div>
