<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class="navbar-brand">{{pageTitle}}</a>
<ul class="nav nav-pills">

<li><a class="nav-link" routerLink='/components/welcome'>Home</a></li>
<li><a class="nav-link" routerLink='./components/jsonform/json-form'>Dynamic Form</a></li>
<li><a class="nav-link" routerLink='/components/brands'>Brands</a></li>
<li><a class="nav-link" routerLink='/components/categories'>Categories</a></li>
<li><a class="nav-link" routerLink="/components/customers">Customers</a></li>
<li><a class="nav-link" routerLink="/components/order-items">Order Items</a></li>
<li><a class="nav-link" routerLink="/components/orders">Orders</a></li>
<li><a class="nav-link" routerLink='/components/products'>Bikes List</a></li>
<li><a class="nav-link" routerLink='/components/staffs'>Staff</a></li>
<li><a class="nav-link" routerLink='/components/stocks'>Stocks</a></li>
<li><a class="nav-link" routerLink='/components/stores'>Stores</a></li>

</ul>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>